# Environments & Secrets
.env
.env.local
.env.*.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Database & SQLite
*.db
*.sqlite
*.sqlite3
backend/app/storage/*.db
backend/app/storage/*.sqlite

# Node & Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/dist/
frontend/node_modules/
.pnp
.pnp.js

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel
